name: build-and-test
on:
  push:
    branches:
    - "*"
  pull_request:
jobs:
  build-and-test:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15.7
    - name: Check project dependencies
      run: |
        rm go.sum
        go mod tidy
        git -c color.ui=always diff --exit-code go.mod go.sum
    - name: Test
      run: go test -race ./... -v -coverprofile=coverage.out
    - name: Set up kubectl
      uses: azure/setup-kubectl@v1
      with:
        version: v1.20.1
    - name: Generate Install Manifests
      run: |
        hack/generate-manifests.sh
        git -c color.ui=always diff --exit-code deploy/
    - name: Upload Coverage Report
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.out
        flags: unittests
        name: codecov-umbrella
