name: golangci-lint
on:
  push:
    branches:
    - "*"
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.4.0
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.44.1
