name: golangci-lint
on:
  push:
    branches:
    - "*"
  pull_request:
jobs:
  golangci:
    name: lint
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.2
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.50.0
