name: govulncheck
on:
  push:
  schedule:
    - cron: '0 12 * * 6'
permissions:
  contents: read

jobs:
  govulncheck:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          cache: true
          go-version: 1.25.5
      - name: Install govulncheck Vulnerability Scanner
        run: go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run govulncheck Vulnerability Scanner
        run: govulncheck -show=verbose ./...
