name: image-publish
on:
  push:
    branches:
    - "*"
  release:
    types:
    - published
jobs:
  push-to-registry:
    runs-on: ubuntu-20.04
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - name: Docker meta
      id: docker_meta
      uses: docker/metadata-action@v3.3.0
      with:
        images: ghcr.io/${{ github.repository }}
        flavor: |
          latest=false
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1.2.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.5.0
    - name: Login to Registry
      uses: docker/login-action@v1.10.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2.6.1
      with:
        context: .
        file: ./Dockerfile
        labels: ${{ steps.docker_meta.outputs.labels }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: ${{ steps.docker_meta.outputs.tags }}
