name: image-publish
on:
  push:
    branches:
    - "*"
  release:
    types:
    - published
permissions:
  contents: read
jobs:
  push-to-registry:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Docker meta
      id: docker_meta
      uses: docker/metadata-action@v5.3.0
      with:
        images: ghcr.io/${{ github.repository }}
        flavor: |
          latest=false
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
    - name: Install Cosign
      uses: sigstore/cosign-installer@v3.3.0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3.0.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3.0.0
    - name: Login to Registry
      uses: docker/login-action@v3.0.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GHCR_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v5.1.0
      with:
        context: .
        file: ./Dockerfile
        labels: ${{ steps.docker_meta.outputs.labels }}
        platforms: linux/amd64,linux/arm64
        provenance: false
        push: true
        tags: ${{ steps.docker_meta.outputs.tags }}
    - name: Sign the container images
      run: cosign sign --yes ${TAGS}
      env:
        TAGS: ${{ steps.docker_meta.outputs.tags }}
        COSIGN_EXPERIMENTAL: 1
