name: nancy
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  schedule:
    - cron: '0 12 * * 6'
permissions:
  contents: read
jobs:
  nancy:
    permissions:
      contents: read
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-24.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Create dependency list for Nancy
        run: go list -json -m all > go.list
      - name: Run Nancy Vulnerability Scanner
        uses: sonatype-nexus-community/nancy-github-action@v1.0.3
        with:
         githubToken: ${{ secrets.GITHUB_TOKEN }}
         nancyCommand: sleuth --username ${{ secrets.OSSI_USERNAME }} --token ${{ secrets.OSSI_TOKEN }}
