name: nancy
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  schedule:
    - cron: '0 12 * * 6'
permissions:
  contents: read
jobs:
  nancy:
    permissions:
      contents: read
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21.7
      - name: Create dependency list for Nancy
        run: go list -json -m all > go.list
      - name: Run Nancy Vulnerability Scanner
        uses: sonatype-nexus-community/nancy-github-action@v1.0.3
        with:
         githubToken: ${{ secrets.GITHUB_TOKEN }}
