name: trivy
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  schedule:
    - cron: '0 12 * * 6'
jobs:
  trivy:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2.0.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.0.0
    - name: Build Container Image
      uses: docker/build-push-action@v3.0.0
      with:
        context: .
        file: ./Dockerfile
        load: true
        platforms: linux/amd64
        push: false
        tags: ghcr.io/${{ github.repository }}:trivy
    - name: Run Trivy Vulnerability Scanner
      uses: aquasecurity/trivy-action@0.3.0
      with:
        image-ref: ghcr.io/${{ github.repository }}:trivy
        format: sarif
        output: ./trivy-results.sarif
    - name: Upload Trivy Scan Results
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: ./trivy-results.sarif
