name: trivy
on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  schedule:
    - cron: '0 12 * * 6'
jobs:
  trivy:
    runs-on: ubuntu-20.04
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2.4.0
      with:
        fetch-depth: 0
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1.2.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1.6.0
    - name: Build Container Image
      uses: docker/build-push-action@v2.7.0
      with:
        context: .
        file: ./Dockerfile
        load: true
        platforms: linux/amd64
        push: false
        tags: ghcr.io/${{ github.repository }}:trivy
    - name: Run Trivy Vulnerability Scanner
      uses: aquasecurity/trivy-action@0.2.0
      with:
        image-ref: ghcr.io/${{ github.repository }}:trivy
        format: template
        template: '@/contrib/sarif.tpl'
        output: ./trivy-results.sarif
    - name: Upload Trivy Scan Results
      uses: github/codeql-action/upload-sarif@v1
      with:
        sarif_file: ./trivy-results.sarif
